@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

html {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
    background: linear-gradient(90deg, #1b152a 21px, transparent 1%) center, linear-gradient(#1d162c 21px, transparent 1%) center, #fbff26;
	background-size: 22px 22px;
}

.bg {
    animation:slide 4s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #10100d 50%, #f8ff2ac4 50%);
    bottom:0;
    left:-50%;
    opacity:.4;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:5s;
  }
  
  .bg3 {
    animation-duration:6s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* =================== section navbar =============== */

nav {
    border-bottom: 5px solid #e2e205;
    box-shadow: 5px 5px 15px #e2e205;
    background-color: rgb(7, 10, 42);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
}
.navbar-brand{
    width: fit-content;
    margin: 0 3rem;
    position: relative;
    float: left;
    z-index: 9;
}
.navbar-brand img{
    max-width: 300px;
    margin-top: 0.8rem;
}
nav ul{
    margin-right: 20px;
    position: relative;
    margin-top: 0.5rem;
}
nav ul .to_right{
    position: absolute;
    right: 1rem;
    top: 0;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 auto;
}
.dropdown {
    position: relative;
}
.dropbtn {
    border: none;
    padding: 0.1rem 0.5rem 0.3rem!important;
}
.dropbtn:focus {
    background: #e4e404f1;
    color: black;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    line-height: 3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 6px 10px;
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content a{
    color: rgb(14, 4, 80);
    display: block;
}
.dropdown-content a:hover{
    border-radius: 10px;
    padding-left: 0.5rem;
    color: rgb(226, 226, 226);
    background: #005aa8;
    box-shadow: 0 2px 10px 4px rgba(123, 223, 253, 0.75), 0 10px 8px 6px rgba(126, 224, 253, 0.22);

}

.show {display: block;}

nav ul li .links.brdr, .links.LoginBTN.brdr{
    background: rgb(231, 2, 33);
    padding: 0.9rem 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 30px;
}
nav ul .ending{
    right: 0;
    position: absolute;
}

nav ul li .links, .LoginBtn, #match-style {
    color: #dfe1e2;
    font-size: 14px;
    padding: 7px 10px;
    /* border-right: 1px solid #e4e404f1; */
    border-radius: 3px;
    text-transform: uppercase;
    background: linear-gradient(to right, #e4e404f1, #e4e404f1 49%, rgb(7, 10, 42) 48%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    cursor: pointer;
}
.swal2-container .swal2-actions .swal2-confirm.btn.btn-success, .swal2-cancel.btn.btn-danger {
    display: inline-block;
    color: #2e2d2d;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 15px 20px;
    width: 140px;
    margin: auto 0.2rem;
    border-radius: 3px;
    text-transform: uppercase;
    background: yellow;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    cursor: pointer;
}
.swal2-container .swal2-cancel.btn.btn-danger {
    background: rgb(246, 15, 15);
}
nav ul li .links.withdraw {
    position: relative;
    padding: 7px 24px;
}
nav .blc {
    padding: 0.3rem 0.7rem;
    position: relative;
    /* padding-right: 1.8rem; */
    margin-right: 1rem;
    width: fit-content;
    border-radius: 15px;
    margin: 0 auto;
    color: white;
    display: inline-block;
    line-height: 35px;
    background: rgb(0, 0, 0);
    box-shadow: 0 1px 15px 1px rgba(251, 255, 0, 0.75), 0 0 8px 0 rgb(238, 255, 0);
}
nav .blc a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li .withdraw .balance {
    color: rgb(194 214 11);
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.2rem;
}

nav ul li .withdraw .earning{
    filter: invert(8%) sepia(100%) saturate(1034%) hue-rotate(357deg) brightness(102%) contrast(108%);
    width: 25px;
    height: 25px;
}

.LoginBtn, #match-style {
    animation-name: buttonAnimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes buttonAnimation {
    0% {background-position:  100% 0;}
    50% {background-position:  0 100%;}
}
    
.links:hover, 
body.home a.home,
body.earn a.earn,
body.profile a.profile,
body.withdraw a.withdraw,
body.groupwithdraw a.groupwithdraw,
.LoginBtn:hover,
#match-style
{
    /* background: #e5ff52; */
    transition: .5s;
    color: rgb(3, 3, 85);
    background-position: 0 100%;
}
.checkbtn{
    color: #e5ff52;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/* ================ section lander ================== */

.lander {
    width: 100%;
    background: rgb(1, 1, 22);
    padding: 4rem 0 0;
    display: flex;
    height: 100vh;
}
.lander .info{
    width: 50%;
    float: left;
    color: white;
    position: relative;
}
.lander .info .text-uppercase{
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 3px;
}
.lander .info .text-robux{
    color: #FFFF00;
}

.lander .info .centering{
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lander .image{
    width: 50%;
    float: right;
    position: relative;
    background-color: #ffff26cc;
}
.lander .image .centering{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lander .image2 {
    display: none;
}
.lander .image img {
    width: 100%;
    /* position: absolute; */
    /* margin: 10rem auto 0; */
    /* left: -4rem; */
    -webkit-filter: drop-shadow(10px 10px 10px rgb(24, 24, 24));
    filter: drop-shadow(10px 10px 10px rgb(24, 23, 23));
    animation-name: imgAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.lander .image2 img {
    width: 300px;
    margin: 1rem auto;
    -webkit-filter: drop-shadow(8px 8px 8px rgb(180, 179, 179));
    filter: drop-shadow(8px 8px 8px rgb(180, 179, 179));
    animation-name: imgAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes imgAnimation {
    0%   { transform: scale(1) }
    50% { transform: scale(1.1) }
    100% { transform: scale(1) }
}


/* =============== section container ==================== */
.container {
    width: 100%;
    padding: 2rem 1rem;

}
.margin-top {
    margin-top: 10rem;
}
.container .steps{
    display: flex;
    margin: 0 auto;
    width: 70%;
}
.container .steps .step{
    width: 33%;
    position: relative;
    padding: 1rem 1rem;
    color: white;
    margin: 0.5rem;
    border-radius: 10px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  

  
  .step {
    background: #191c29;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
  }
  
  .step:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .step:hover:before, .step:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .step::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .step::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
.container .steps .step .overlay{
    margin: 0 auto 4rem;
    width: 90%;
    text-align: center;
}
.container .steps .step .overlay.withdraw{
    margin: 0 auto;
}
.container .steps .step .overlay.withdraw .card-img-top{
    width: 250px;
}
.container .steps .step .overlay .card-img-top{
    width: 300px;
    margin: 0 auto;
    padding-right: 2rem;
}
.container .steps .step .card-body .card-title{
    color: yellow;
    text-transform: uppercase;
    padding-bottom: 1rem;

}
.container .steps .step .card-body .card-text{
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 2px;
}

/* ======================== state section ================== */

.container.stats{
    margin-top: 5rem;
}

.container.stats .row .stats{
    width: fit-content;
    text-align: center;
    margin: 1rem auto;
    color: yellow;
    font-weight: 500;
    border-bottom: 3px solid yellow;
    font-size: 2rem;
    text-transform: uppercase;
}
.container.stats .row .content_row{
    width: 80%;
    margin: 0 auto;
    min-height: 500px;
    padding: 2rem;
    position: relative;

}
.container.stats .row .content_row .col{
    background-color: rgb(0, 0, 0);
    position: absolute;
    min-height: 170px;
    margin: 2rem auto;
    width: 35%;
    box-shadow: 0 2px 10px 4px rgba(123, 223, 253, 0.75), 0 10px 8px 6px rgba(126, 224, 253, 0.22);
    color: white;
    padding: 2rem 0.5rem;
}


.container.stats .row .content_row .col.one{
    left: 10%;
}

.container.stats .row .content_row .col.two{
    right: 10%;
}
.container.stats .row .content_row .col.three{
    top: 240px;
    left: 30%;
}

.container.stats .row .content_row .col .card .card-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
}


.container.stats .row .content_row .col .card .card-body h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}


.container.stats .row .content_row .col .card .card-body img{
    filter: invert(8%) sepia(100%) saturate(1034%) hue-rotate(357deg) brightness(102%) contrast(108%);
}


.container.stats .row .content_row .col .card .card-body i{
    font-size: 1.9rem;
    color: #ffb919;
    margin-right: 0.4rem;
}
.container.stats .row .content_row .col .card .card-body .stat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#useramount, #paidout, #stock {
    font-size: 1.8rem;
    color: #ffb919;
    font-weight: 900;
}




/* ====================== legitimate section ================== */
.legitimate.footer {
    color: white;
    padding: 3rem;
    text-align: center;
}
.legitimate.footer .card-body{
    width: 80%;
    margin: 1rem auto;
    text-align: left;
    line-height: 2;
}
.legitimate.footer .ttl{
    color: rgb(198 213 212);
    margin: 2rem auto;
    font-size: 2rem;
    font-weight: 900;
    border-bottom: 2px solid rgb(68, 171, 255);
    width: fit-content;
}
.legitimate.footer .ttl .intero{
    color: rgb(68, 171, 255);
}
.legitimate.footer .card-body p{
    background-color: rgb(2, 2, 59);
    padding: 2rem;
    letter-spacing: 2px;
}


/* ========================= footer section ===================== */

.page-footer {
    margin-top: 3rem;
    padding: 6rem 0 2rem;
}
.page-footer .container {
    margin: 0 auto 1rem;
    width: 80%;
    background: rgb(30 39 68);
    box-shadow: 0 2px 10px 4px rgba(123, 223, 253, 0.75), 0 10px 8px 6px rgba(126, 224, 253, 0.22);
}

.page-footer .row{
    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: center;
    color: rgb(185, 181, 181);
}

.page-footer .row .col{
    margin: 1rem 2rem;
    width: inherit;
}

.page-footer .row .col.one{
    text-align: center;
}
.page-footer .row .col.one .list-unstyled{
    list-style-type: none;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}
.page-footer .row .col.one .list-unstyled li {
    margin: 0.8rem auto;
}
.page-footer .row .col.one .list-unstyled li a{
    font-size: 1rem;
    text-decoration: none;
    color: rgb(180, 179, 179);
    letter-spacing: 3px;
    margin-left: 0.5rem;
}

.page-footer .row .col p{
    letter-spacing: 3px;
    line-height: 1.7;
    font-size: 0.8rem;
}


.page-footer .row .col h5{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    border-bottom: 4px solid yellow;
    width: fit-content;
}
.page-footer .row .col.one h5{
    margin: 0 auto 0.5rem;
}


.white-hr {
    width: 50%;
    margin: 1rem auto;
    border: 2px solid yellow;
    background: yellow;
}

.footer-copyright {
    color: #909090;
    text-align: center;
}

.footer-copyright .container-fluid {
    margin: 0.7rem auto;
}
/* =========================  earn section ====================== */

.earn-container {
    padding: 5rem 0;
}

.earn-container .row .part-one{
    margin: 1rem auto;
    padding: 0.5rem 2rem 2rem;
    color: white;
    width: 70%;
    background: #193b59;
    box-shadow: 0 4px 8px 4px rgb(123 223 253 / 75%), 0 10px 20px 30px rgb(126 224 253 / 22%);
}
.earn-container .row .part-one .col.offerwalls{
    text-align: center;
}
.earn-container .row .part-one .col .earn{
    color: yellow;
}
.earn-container .row .part-one .col .btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.earn-container .row .part-one .col .btns.two{
    margin-top: 2rem;
    display: inherit;
}

.tab-pane {
    display: none;
    height: 100%;
    width: 100%;
}

.show.active {
    display: block;
}
.earn-container .row .part-one .col .btns.two .btn-primary{
    margin: 1rem;
}
.earn-container .row .part-one .col .btns.two .fb{
    background-color: #4267B2;
}
.earn-container .row .part-one .col .btns.two .yt{
    background-color: #FF0000;
}
.earn-container .row .part-one .col .btns.two .tw{
    background-color: #1DA1F2;
}
.earn-container .row .part-one .col .btns.two .dc{
    background-color: #5865F2;
}
.earn-container .row .part-one .col .btns.two .is{
    background-color: #8a3ab9;
}
.earn-container .row .part-one .col .btns .btn-primary.one{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.earn-container .row .part-one .col .btns .btn-primary.one .badge-success{
    background: #18ff00;
    color: black;
    padding: 0.1rem 0.3rem;
    font-size: 0.6reM;
    font-weight: bold;
}

.earn-container .row .part-one .col .btn-primary {
    box-shadow: 0 1px 10px 1px rgb(123 223 253 / 75%), 0 1px 10px 1px rgb(126 224 253 / 22%);
    background: black;
    padding: 0.5rem 0.8rem;
    border: none;
    color: rgb(195, 195, 195);
    cursor: pointer;
}

.earn-container .row .part-one .col .btn-primary:hover {
    box-shadow: 0 2px 15px 2px rgb(123 223 253 / 75%), 0 2px 15px 2px rgb(126 224 253 / 22%);
    background: rgb(0, 59, 98);
}
.earn-container .row .part-one .col .offerwalls{
    text-transform: uppercase;
    margin: 0 auto 2rem;
}

.earn-container .row .col.exeption {
    margin: 3rem auto;
    padding: 0.5rem 2rem;
    color: white;
    width: 70%;
    background: #001f3a;
    box-shadow: 0 2px 10px 4px rgba(123, 223, 253, 0.75), 0 10px 8px 6px rgba(126, 224, 253, 0.22);
    padding: 0;
}

.earn-container .row .col .offerwallholder{
    height: 1000px;
    background: #193b59;
    box-shadow: 0 4px 8px 4px rgb(123 223 253 / 75%), 0 10px 20px 30px rgb(126 224 253 / 22%);
}

.swal2-file, .swal2-input, .swal2-textarea {
    color: white;
}



/* ========================== section withdraw ========================= */
.container.withdraw{
    padding-top: 8rem;
}


.container.withdraw .row{
    width: 70%;
    margin: 0.5rem auto;
    padding: 2rem;
    color: rgb(212, 211, 211);
}


.container.withdraw .row.two{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.container.withdraw .row.two .col{
    width: 50%;
    text-align: center;
    padding: 2rem 1rem;
    margin: auto 2rem;
    background: #193b59;
    box-shadow: 0 4px 8px 4px rgb(123 223 253 / 75%), 0 10px 20px 30px rgb(126 224 253 / 22%);
}

.container.withdraw .row.two .col .h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: rgb(207, 204, 204);
}



.container.withdraw .row.two .col .primobux{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.container.withdraw .row.two .col .primobux img{
    filter: invert(8%) sepia(100%) saturate(1034%) hue-rotate(357deg) brightness(102%) contrast(108%);
}



.container.withdraw .row.two .col .primobux .balance, .container.withdraw .row.two .col .primobux .vipstock{
    font-size: 1.8rem;
    color: rgb(199, 170, 4);
    font-weight: 700;
}


.container.withdraw .row.three .col{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto 2rem;
    background: #193b59;
    box-shadow: 0 4px 8px 4px rgb(123 223 253 / 75%), 0 10px 20px 30px rgb(126 224 253 / 22%);
    min-height: 800px;
}




.container.withdraw .row.three .col .alert-warning{
    display: grid;
}




.container.withdraw .row.three .col .alert-warning .col-2{
    margin: 1.5rem auto;
}





.container.withdraw .row.three .col .alert-warning .col-2 i {
    font-size: 3rem;
    color: yellow;
}




.container.withdraw .row.three .col .alert-warning .col-10 {
    font-size: 1.2rem;
    width: 60%;
    margin: 1.5rem auto;
    line-height: 2;
    text-transform: uppercase;
}



.container.withdraw .row.three .col .card-rounded {
    width: 70%;
    margin: 1.5rem auto;
    line-height: 2;
}



.container.withdraw .row.three .col .card-rounded .card-header {
    font-size: 1.8rem;
    color: yellow;
    margin: 1rem auto;
}



.container.withdraw  input, .container.withdraw button {
    font-size: 1.2rem;
    padding: 0.6rem 1.3rem;
    margin: 0 0.5rem 1rem;
    color: rgb(224, 222, 222);
    background: #00101d;
    box-shadow: 0 1px 10px 1px rgba(123, 223, 253, 0.75), 0 1px 8px 1px rgba(126, 224, 253, 0.22);
    
}



 .container.withdraw button {
     cursor: pointer;
}


 .container.withdraw button:hover, .container.withdraw input:hover {
    box-shadow: 0 1px 10px 1px rgb(238, 255, 2), 0 1px 8px 1px rgba(126, 224, 253, 0.22);
    
}


 .container.withdraw hr {
    box-shadow: 0 1px 10px 1px rgb(238, 255, 2), 0 1px 8px 1px rgba(126, 224, 253, 0.22);
    margin: 2rem auto;
}


 .container.withdraw a {
    color: rgb(241, 241, 123);
}


 .container.withdraw .card-rounded h3 {
    color: rgb(190, 190, 190);
    margin-bottom: 1rem;
}


 .container.withdraw .card-rounded a {
    font-size: 1.3rem !important;
    color: white !important;
    font-weight: 500 !important;
}

.container.withdraw .row.three .card-body .light-p{
    margin-bottom: 1rem;
    color: #b9b9b9;
}

.container.withdraw .row.three .col.grp {
    min-height: 600px;
}

.container.withdraw .row.three .col.last {
    min-height: 200px;
    margin-top: 4rem;
}

.container.withdraw .row.three .col.last table {
    text-align: center;
    margin: 0.5rem auto;
    width: 100%;
}

.container.withdraw .row.three .col.last table thead tr th{
    width: 33%;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid yellow;
}
/* ======================= section profile ====================== */

.container.profile{
    padding-top: 8rem;
}

.container.profile .row{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 0;
    width: 80%;
    margin: 2rem auto;
    color: rgb(206, 206, 206);
}

.container.profile .row .col.one{
    width: 70%;
    padding: 2rem 1rem;
    text-align: center;
    background: #193b59;
    box-shadow: 0 4px 8px 4px rgb(123 223 253 / 75%), 0 10px 20px 30px rgb(126 224 253 / 22%);
}

.container.profile .row .col.one .card-body{
    position: relative;
    height: 400px;
}
.container.profile .row .col.one .card-title{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.container.profile .row .col.one .card-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container.profile .row .col.one .profile-img{
    min-height: 200px;
    width: 100%;
    margin-bottom: 2rem;
}

.container.profile .row .col.one .profile-img img{
    width: 90%;
    border-radius: 50%;
    background: #0f416d;
}

.container.profile .row .col.one .text-center{
    color: #c1ba07;
    font-size: 1.7rem;
}

.container.profile .row .col.two .small-row .col-2{
    width: 45%;
    height: 140px;
    padding: 1.5rem;
    margin: 0 1rem 2rem;
    float: left;
    background: #193b59;
    box-shadow: 0 4px 8px 4px rgb(123 223 253 / 75%), 0 10px 20px 30px rgb(126 224 253 / 22%);}


.container.profile .row .col.two .small-row .col-2 .yellow-number{
    color: rgb(254 177 0);
}


.container.profile .row .col.two .small-row .col-2 img{
    filter: invert(8%) sepia(100%) saturate(1034%) hue-rotate(357deg) brightness(102%) contrast(108%);
}


.container.profile .row .col.two .small-row .col-2.last{
    width: 94%;
    height: auto;
    margin-bottom: 0;
}

.container.profile .row .col.two .small-row .col-2.last .card-header{
    font-size: 1.1rem;
}

.container.profile .row .col.two .small-row .col-2.last .row-1{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 0;
    width: 95%;
    margin: 2rem auto;
    color: rgb(228, 228, 228);
}

.container.profile .row .col.two .small-row .col-2.last .row-1 .col-4-1{
    width: 50%;
}

.container.profile .row .col.two .small-row .col-2.last .row-1 .col-4-1 h5{
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.2;
}

.container.profile .row .col.two .small-row .col-2.last .row-1 .col-4-2{
    border: 1px solid yellow;
    padding: 1rem;
    border-radius: 20px;
    height: fit-content;
}

.container.profile .row.two {
    margin-top: 0;
}

.container.profile .row.two .col{
    width: 100%;
    background: #193b59;
    box-shadow: 0 4px 8px 4px rgb(123 223 253 / 75%), 0 10px 20px 30px rgb(126 224 253 / 22%);    text-align: center;
    padding: 2rem 1rem;
}

.container.profile .row.two .col .card-header{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.container.profile .row.two .col table{
    text-align: center;
    margin: 0.5rem auto;
    width: 100%;
}


.container.profile .row.two .col table tr{
    display: flex;
    justify-content: center;
    gap: 20px;
}



.container.profile .row.two .col table tr th{
    width: 50%;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid yellow;
}


@media screen and (min-width: 1300px) {
    .container.profile .row .col.one .profile-img img {
        width: 60%;
    }
}
@media screen and (max-width: 1200px) {
    .container.profile .row {
        width: 95%;
        gap: 1rem;
    }
    .container.profile .row .col.two .small-row .col-2 {
        width: 40%;
    }

    .container.profile .row .col.two .small-row .col-2.last {
        width: 84%;
    }

    .container.profile .row .col.two .small-row .col-2.last .row-1 .col-4-1 {
        width: 100%;
    }

}

@media screen and (max-width: 940px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        top: 80px;
        left: -100%;
        background: rgb(7, 10, 42);
        text-align: center;
        transition: all .5s;
        z-index: 9;
    }
    nav ul .to_right{
        position: initial;
        right: inherit;
        top:initial
    }
    nav ul li {
        display: block;
        margin: 20px;
        line-height: 40px;
    }
    nav ul li .links {
        padding-right: 2rem;
        font-size: 20px;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
    }
    .links:hover {
        transition: .5s;
        color: rgb(3, 3, 85);
        background-position: 0 100%;
    }
    #check:checked ~ ul {
        left: 0;
    }
    
    .lander .info .text-uppercase{
        font-size: 1.5rem;
    }
    .container .steps{
        display: grid;
    }
    .container .steps .step{
        width: 80%;
        margin: 3rem auto;
        padding: 2rem 1rem 4rem;
    }
   

    .container.stats .row .content_row .col{
        width: 40%;
    }
    .container.stats .row .content_row .col.one{
        left: 7%;
    }
    
    .container.stats .row .content_row .col.two{
        right: 7%;
    }
    nav ul .ending {
        right: auto;
        position: initial;
    }
    
   
    .earn-container .row .part-one, .earn-container .row .col.exeption{
        width: 85%;
    }

    .earn-container .row .part-one .col .btns {
        gap: 5px;
    }
    
    .container.withdraw .row{
        width: 80%;
    }
    .earn-container .row .part-one .col .btns{
        display: inherit;
    }
    .earn-container .row .part-one .col .btns .btn-primary {
        margin: 0.6rem;
    }
    .earn-container .row .part-one .col .btns .btn-primary.one {
        display: initial;
    }
}


@media screen and (max-width: 770px) {
   
    .lander .info .text-uppercase{
        font-size: 1.3rem;
    }
    .lander .info .centering{
        width: 90%;
        text-align: center;
    }
    .container .steps {
        width: 90%;
    }
    .container.stats .row .content_row .col{
        position: initial;
        margin: 2rem auto;
        width: 100%;
    }
    
    .container.stats .row .content_row .col .card {
        width: 100%;
    }

        
    .container.stats .row .content_row .col .card .card-body{
        width: 100%;
    }

    .page-footer .row{
        display: grid;
        padding: 2rem 0;
    }
    

    .page-footer .row .col{
        width: auto;
        text-align: justify;
        margin: 2rem 0.5rem;
    }
    .page-footer .row .col.one .list-unstyled li {
        float: left;
        margin-right: 0.8rem;
    }
    .page-footer .row .col.one .list-unstyled li a{
        font-size: 0.8rem;
    }

    .page-footer .row .col h5{
        width: fit-content;
        margin: 1rem auto;
    }
    
    .container.withdraw .row{
        width: 85%;
        padding: 2rem 0;
    }
    .container.withdraw .row.two{
        gap: 1rem;
    }
    .container.withdraw .row.two .col, .container.withdraw .row.three .col{
        margin: auto;
    }
    .container.withdraw .row.three .col-2, .container.withdraw .row.three .col-10, .container.withdraw .row.three .col .card-rounded{
        width: 90% !important;
    }

    .container.withdraw input {
        width: -webkit-fill-available;
    }
    .container.withdraw .row.two .col .h3 {
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
    }
    .container.withdraw .row.three .col .alert-warning .col-10 {
        font-size: 1rem;
        line-height: 1.7;
    }

    .container.withdraw .row.three .col .card-rounded .card-header {
        font-size: 1.6rem;
    }
    .container.profile .row {
        display: inherit;
    }
    .container.profile .row .col.one {
        width: 70%;
        margin: 0 auto;
    }
    .container.profile .row .col.one .card-body {
        height: 500px;
    }

    .container.profile .row .col.one .card-text {
        width: 60%;
    }

    .container.profile .row.one .col.two {
        margin: 2rem auto;
        height: auto;
    }
    .container.profile .row .col.two .small-row .col-2 {
        width: 70%;
        margin: 2rem auto;
        float: none;
    }
    .container.profile .row .col.two .small-row .col-2.last {
        width: 70%;
    }
    .container.profile .row .col.two .small-row .col-2.last .row-1 {
        display: inherit;
    }
    .container.profile .row .col.two .small-row .col-2.last .row-1 .col-4-1 {
        margin: 1rem auto;
    }
    
    
}
@media screen and (max-width: 700px) {
    .lander {
        display: inherit;
        height: auto;
    }
    .lander .info {
        width: 100%;
        float: none;
        height: 100vh;
    }
    .lander .image {
        display: none;
    }
    .lander .image2 {
        display: block;
        margin: 1rem auto;
    }
    .container.stats .row .content_row {
        width: 95%;
    }
    .earn-container .row .part-one, .earn-container .row .col.exeption{
        width: 95%;
    }
    
}

@media screen and (max-width: 580px) {
    .navbar-brand .img-fluid {
        height: 60px !important;
        margin-top: 0.3rem !important;
    }
    .container.margin-top {
        padding: 2rem 0;
    }
    .container .steps {
        width: 100%;
    }
    .container .steps .step{
        width: 80%;
    }
    
    .container.footer .card-body{
        width: 98%;
    }
    .container .steps .step .overlay .card-img-top{
        padding-right: 3rem;
    }
    .container.footer {
        padding: 3rem 1rem;
    }
    .container.footer .ttl {
        font-size: 1.8rem;
    }
    .legitimate.footer {
        padding: 2rem 1rem;
    }
    .legitimate.footer .card-body {
        width: 100%;
    }
    
    .container.withdraw .row{
        width: 100%;
    }

    .container.profile .row .col.one {
        width: 90%;
    }

    .container.profile .row .col.two .small-row .col-2 {
        width: 90%;
    }
    .container.profile .row .col.two .small-row .col-2.last {
        width: 90%;
    }
    .container.profile .row.two {
        width: 90%;
    }
}

