<!DOCTYPE html>
<html lang="en">
<head>
    <title>PrimoBux - Earn FREE ROBUX Online!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="EN">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Earn Free ROBUX by completing surveys & watching videos!">
    <meta name="theme-color" content="#263238">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134844048-2"></script>
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script data-ad-client="ca-pub-7383108513058177" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="icon" href="https://media.discordapp.net/attachments/839027421264478209/856584821516926976/20210621_192148.png?width=550&height=225">
</head>

<body class="home">
  <header>
    <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="/" class="navbar-brand logo">
            <img
                src="https://media.discordapp.net/attachments/839027421264478209/856584821516926976/20210621_192148.png?width=550&height=225"
                class="img-fluid" style="height: 55px;" alt="Logo">
        </a>
            <ul>
                <li><a href="/index" class="home js-scroll-trigger"><i class="fal fa-home mr-1"></i> Home</a></li>
                <!-- < % if (user) { %> -->
                <li><a href="/earn" class="js-scroll-trigger"><i class="fal fa-wallet mr-1"></i> Earn</a></li>
                <li><a href="/withdraw" class="js-scroll-trigger"><i class="fal fa-sack mr-1"></i> Withdraw</a></li>
                <li><a href="/profile" class="js-scroll-trigger"><i class="fal fa-user-alt mr-1"></i> Profile</a></li>
                <li>
                    <a class="js-scroll-trigger" href="withdraw">
                        <!-- <span class="balance" id="balance"> < %- data.earnedRobux.toFixed(2) || '0.00' %></span> -->
                        <img src="https://bloxearn.com/img/robux.svg" height="18px">
                    </a>
                </li>
                <li>
                    <a href="api/logout" class="js-scroll-trigger">Logout</a>
                </li>
                <!-- < % } else { %> -->
                <li>
                    <a class="js-scroll-trigger LoginBTN">Login</a>
                </li>
                <!-- < % } %> -->
            </ul>
    </nav>
    
    </header>
    <section class="lander">
        <div class="info text-center">
            <h1 class="text-uppercase font-weight-bold">
                Get FREE <span class="text-robux">Robux</span> by
                <span id="typer"></span>
            </h1>
            <button class="LoginBtn">Start Earning</button>
        </div>

        <div class="image">
            <img src="https://cdn.discordapp.com/attachments/839027421264478209/853729207544709150/199779424_859401967982840_7807174879897830688_n.png"
                alt="character">
        </div>
    </section>
    <section class="text-center" id="steps">
        <div class="container">
            <div class="steps">
                <div class="step card card-rounded card-cascade special-color narrower">
                    <div class="overlay view view-cascade">
                        <img class="card-img-top"
                            src="https://cdn.discordapp.com/attachments/839027421264478209/853729113239584788/193207567_172423454893218_654348742779117710_n.png"
                            alt="Sign up" width="100%">
                    </div>
                    <div class="card-body card-body-cascade">
                        <h4 class="font-weight-bold card-title">Sign up</h4>
                        <p class="card-text">You can log in with your username. We do not ask for any kind of password
                            so block anyone that asks for your password!</p>
                    </div>
                </div>
                <div class="step card card-rounded card-cascade special-color narrower">
                    <div class="overlay view view-cascade">
                        <img class="card-img-top"
                            src="https://cdn.discordapp.com/attachments/839027421264478209/853700387394682880/196888770_323012902876319_3876937592972695461_n.png"
                            alt="Earn" width="100%">
                    </div>
                    <div class="card-body card-body-cascade">
                        <h4 class="font-weight-bold card-title">Earn</h4>
                        <p class=card-text>Complete surveys or do easy quizzes for robux! We also do giveaways in our
                            discord and on our youtube channel!</p>
                    </div>
                </div>
                <div class="step card card-rounded card-cascade special-color narrower">
                    <div class="overlay view view-cascade">
                        <img class="card-img-top" src="https://bloxearn.com/img/step-3-funds.svg" alt="Withdraw"
                            width="100%">
                    </div>
                    <div class="card-body card-body-cascade">
                        <h4 class="font-weight-bold card-title">Withdraw</h4>
                        <p class="card-text">Withdraw your robux and get them in your roblox account! Just click a
                            button and join the group!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main class="container">
        <div class="row min-500-md d-flex align-items-center">
            <div class="col-md-4 col-lg-6 col-sm-12 text-center" style="font-size: 60px">
                Stats
            </div>
            <div class="col-md-8 col-lg-6 col-sm-12">
                <div class="col-sm-6">
                    <div class="card text-center special-color-dark card-rounded wow ">
                        <div class="card-body">
                            <h3>Happy Users</h3>
                            <div class="font-weight-bold mb-1 blue-text stat" style="font-size: 40px;">
                                <i class="fas fa-user-friends"></i>
                                <span id="useramount">0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-center special-color-dark card-rounded wow ">
                        <div class="card-body">
                            <h3>Cashed Out</h3>
                            <div class="font-weight-bold mb-1 green-text stat" style="font-size: 40px;">
                                <img src="https://bloxearn.com/img/robux.svg" height="40px">
                                <span id="paidout">0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-center special-color-dark card-rounded wow ">
                        <div class="card-body">
                            <h3>Stock</h3>
                            <div class="font-weight-bold mb-1 green-text stat" style="font-size: 40px;">
                                <img src="https://bloxearn.com/img/robux.svg" height="40px">
                                <!-- <span id="stock">< %- stock %></span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <main class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div class="card special-color-dark">
                    <div class="card-body text-center">
                        <div style="font-size: 36px;">We're legitimate!</div>

                        <p>You've probably seen them all over the internet. Fake generators. Well I'm happy to tell you
                            we're not one of those. In this case you actually get your currency! You can then use it to
                            buy your favorite game like bloxburg or that gamepass you have always wanted on jailbreak!
                            Want to start earning today? Read the text below.</p>

                        <p>You can start earning today by simply logging in with your username! We offer giveaways every
                            30 minutes, daily tasks &ampamp; we also have giveaways in our <a href="">Discord
                                server!</a> Make sure to join so you don't miss out on any giveaways &amp; events!</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#37474F" fill-opacity="1"
            d="M0,288L80,266.7C160,245,320,203,480,208C640,213,800,267,960,272C1120,277,1280,235,1360,213.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
    </svg>

    <div id="snowflakeContainer">
        <span class="snowflake"></span>
    </div>
    <script src="https://bloxearn.com/js/jquery.min.js"></script>
    <script src="https://bloxearn.com/js/popper.min.js"></script>
    <script src="https://bloxearn.com/js/bootstrap.min.js"></script>
    <script src="https://bloxearn.com/js/mdb.lite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuckadblock@3.2.1/fuckadblock.min.js"
        integrity="sha256-xjwKUY/NgkPjZZBOtOxRYtK20GaqTwUCf7WYCJ1z69w=" crossorigin="anonymous"></script>
    <script>
        function adBlockNotDetected() {
            console.log('Thank you for not using an adblocker!');
        }

        function adBlockDetected() {
            Swal.fire({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false,
                title: 'Adblocker detected!',
                background: '#263238',
                imageUrl: 'https://bloxearn.com/img/logowide.png',
                imageAlt: 'Bloxearn logo',
                text: "Please disable your adblock! Some offers may not work when using an adblocker!",
                showCancelButton: false,
                confirmButtonText: 'I disabled my adblock, let me in!',
                focusConfirm: false,
                allowOutsideClick: false
            }).then((result) => {
                if (result.value) location.reload();
            });
        }
        if (typeof fuckAdBlock !== 'undefined' || typeof FuckAdBlock !== 'undefined') {
            adBlockDetected();
        } else {
            var importFAB = document.createElement('script');
            importFAB.onload = function () {
                fuckAdBlock.onDetected(adBlockDetected)
                fuckAdBlock.onNotDetected(adBlockNotDetected);
            };
            importFAB.onerror = function () {
                adBlockDetected();
            };
            importFAB.integrity = 'sha256-xjwKUY/NgkPjZZBOtOxRYtK20GaqTwUCf7WYCJ1z69w=';
            importFAB.crossOrigin = 'anonymous';
            importFAB.src = 'https://cdnjs.cloudflare.com/ajax/libs/fuckadblock/3.2.1/fuckadblock.min.js';
            document.head.appendChild(importFAB);
        }
    </script>
    <script>
        var userdata = {
            "loggedin": false,
            "user_name": 'guest10993',
            "user_id": 1
        }
    </script>
    <script src="/js/all.js"></script>
    <script>
        $('.js-scroll-trigger').click(function () {
                $('.navbar-collapse').collapse('hide');
        });

        $(function () {
            const typer = new TypeIt('#typer', {
                strings: ['doing quizzes', 'watching videos', 'playing games', 'winning giveaways'],
                speed: 100,
                loopDelay: [500, 4000],
                nextStringDelay: [4000, 500],
                loop: true,
                breakLines: false,
                waitUntilVisible: true,
            }).go();
        });

        $.get("api/stats", function (data) {
            if (data.length == 0) return
            $("#useramount").text(data[1])
            $("#paidout").text(data[0])
            $("#stock").text(data[2])
        });
    </script>
</body>
</html>